<h1>URLs</h1>
<table>
  <tr>
    <th>Long URL</th>
    <th>Short URL</th>
  </tr>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.long_url%></td>
      <td><%= url.short_url %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'create new url', new_url_path %>


